version: "3.8"
services:
  app:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile

    volumes:
      - ..:/workspaces/pedeve:cached
      - node_modules:/workspaces/pedeve/node_modules

    extra_hosts:
      - "host.docker.internal:host-gateway"

    environment:
      HOST_IP: ${HOST_IP:-host.docker.internal}

    ports:
      - "19000:19000"
      - "19001:19001"
      - "19002:19002"
      - "8081:8081"
      - "5037:5037"

volumes:
  node_modules:
