services:
  app:
    container_name: pedeve-dev-server
    build:
      context: ..
      dockerfile: Dockerfile

    extra_hosts:
      - "host.docker.internal:host-gateway"

    environment:
      - HOST_IP=host.docker.internal
      - CI=false
      - METRO_DISABLE_WATCHMAN=1
      - WATCHMAN_DISABLE=true
      - METRO_FORCE_POLLING=1
      - EXPO_NO_DOCTOR=1
      - FAST_REFRESH=true

    volumes:
      - workspace:/workspaces/pedeve
      - node_modules:/workspaces/pedeve/node_modules

    ports:
      - "19000:19000"
      - "19001:19001"
      - "19002:19002"
      - "8081:8081"
      - "5037:5037"

volumes:
  workspace:
  node_modules:
